In [ ]:
"""
1. write a python program to print "HELLO, WORLD!"
"""
print("HELLO, WORLD!")

HELLO, WORLD!

In [ ]:
"""
2.write a program that display your name and age.
"""
name = input("please enter your name")
age = input("please enter your age")

please enter your namerahul
please enter your age20

In [ ]:
from ast import keyword
"""
3.write code to print all the pre-defined keyword in python using the keywords.
"""
help(keyword)

Help on class keyword in module ast:

class keyword(AST)
 |  keyword(identifier? arg, expr value)
 |
 |  Method resolution order:
 |      keyword
 |      AST
 |      builtins.object
 |
 |  Data descriptors defined here:
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  arg = None
 |
 |  __match_args__ = ('arg', 'value')
 |
 |  _attributes = ('lineno', 'col_offset', 'end_lineno', 'end_col_offset')
 |
 |  _fields = ('arg', 'value')
 |
 |  end_col_offset = None
 |
 |  end_lineno = None
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from AST:
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from AST:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from AST:
 |
 |  __dict__

In [ ]:
"""
4. write a program that checks if a given words is a python keywords
"""
weather = "sunny"
if weather == "sunny":
    print("I will  play cricket")

I will  play cricket

In [ ]:
"""
5.create a list and tuple in python and demonstrate how attempting to change an element works different for each other
"""
list_count=[1,2,4,3,5,6]
list_count

[1, 2, 4, 3, 5, 6]

In [ ]:
list_count=[1,2,4,3,5,6]
list_count[2] = 3

In [ ]:
list_count

[1, 2, 3, 3, 5, 6]

In [ ]:
"""
tuple
"""
a="pwskills"
a

'pwskills'

In [ ]:
a[0] = "I"

TypeError: 'str' object does not support item assignment

In [ ]:
"""
6. write a function to demonstrate the behavior of mutable and inmmutable arguments.
"""
my_dict = {"name": "Ram", "age": 25}
my_dict

{'name': 'Ram', 'age': 25}

In [ ]:

my_dict["age"] = 37

In [ ]:
my_dict

{'name': 'Ram', 'age': 37}

In [ ]:
"""
inmmutable
"""
tuple1 = (0, 1, 2, 3)
tuple1

(0, 1, 2, 3)

In [ ]:
tuple1[0] = 4

TypeError: 'tuple' object does not support item assignment

In [ ]:
"""
7. write a function to demonstrate the behavior of mutable and inmmutable arguments.
"""
my_dict = {"name": "Ram", "age": 25}
my_dict

{'name': 'Ram', 'age': 25}

In [ ]:
my_dict["age"] = 37

In [ ]:
my_dict

{'name': 'Ram', 'age': 37}

In [ ]:
"""
inmmutable
"""
tuple1 = (0, 1, 2, 3)
tuple1

(0, 1, 2, 3)

In [ ]:
tuple1[0] = 4

TypeError: 'tuple' object does not support item assignment

In [28]:
"""
8. write a program to demonstrate the ues of logical operation
"""
True and True

True

In [30]:
True and False

False

In [31]:
False and True

False

In [32]:
False and False

False

In [33]:

a, b, c = True, False, True

if a and c:
    print("Both a and c are True (AND condition).")

if b or c:
    print("Either b or c is True (OR condition).")

if not b:
    print("b is False (NOT condition).")

Both a and c are True (AND condition).
Either b or c is True (OR condition).
b is False (NOT condition).

In [40]:
"""
9.write a program to convert user input from string to int,float and boolean types.
"""
#string into int
a = "sham"
type(a)

str

In [41]:
int(a)

ValueError: invalid literal for int() with base 10: 'sham'

In [37]:
#string to float
a = "2.5"
type(a)

str

In [38]:
b = float(a)
type(b)

float

In [42]:
str1 = "True"
str2 = "False"
bool1 = bool(str1)
bool2 = bool(str2)
print(bool1)
print(bool2)

True
True

In [51]:
"""
10. write a code to demonstrate type casting with list elements
"""
my_list = [8, "9", 6.7]

my_list[1] = int(my_list[1])
my_list[0] = str(my_list[0])

print(my_list)

['8', 9, 6.7]

In [44]:
"""
11.write a program  that check if a number is positive,negative or zero.
"""
num = float(input("Enter a number: "))
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Enter a number: 12
Positive number

In [45]:
"""
12.write a for  loop to print numbers from 1 to 10.
"""
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [49]:
"""
13.write a program to find the sum of all even numbers from 1 to 50.
"""
sum_of_evens = 0
for number in range(1, 51):
    if number % 2 == 0:
        sum_of_evens += number
print(f"The sum of all even numbers from 1 to 50 is: {sum_of_evens}")

The sum of all even numbers from 1 to 50 is: 650

In [ ]:
"""
14. write a program to reverse a string using a while loop.
"""

In [ ]:
"""
15.write a  python program to calculate the factorial of a number provided by the user a while loop.
"""